/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

@font-face {
    font-family: 'Computer Modern';
    src: url('../fonts/cmunrm-webfont.eot');
    src: url('../fonts/cmunrm-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cmunrm-webfont.woff') format('woff'),
         url('../fonts/cmunrm-webfont.ttf') format('truetype'),
         url('../fonts/cmunrm-webfont.svg#CMUSerifRoman') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Computer Modern';
    src: url('../fonts/cmunbx-webfont.eot');
    src: url('../fonts/cmunbx-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cmunbx-webfont.woff') format('woff'),
         url('../fonts/cmunbx-webfont.ttf') format('truetype'),
         url('../fonts/cmunbx-webfont.svg#CMUSerifBold') format('svg');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Computer Modern';
    src: url('../fonts/cmunti-webfont.eot');
    src: url('../fonts/cmunti-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cmunti-webfont.woff') format('woff'),
         url('../fonts/cmunti-webfont.ttf') format('truetype'),
         url('../fonts/cmunti-webfont.svg#CMUSerifItalic') format('svg');
    font-style: italic;
	font-weight: normal;
}

@font-face {
    font-family: 'Computer Modern';
    src: url('../fonts/cmunbi-webfont.eot');
    src: url('../fonts/cmunbi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cmunbi-webfont.woff') format('woff'),
         url('../fonts/cmunbi-webfont.ttf') format('truetype'),
         url('../fonts/cmunbi-webfont.svg#CMUSerifBoldItalic') format('svg');
    font-style: italic;
    font-weight: bold;
}
/*
    @font-face {
        font-family: "Computer Modern";
        src: url('../fonts-ttf/cmunrm.ttf');
    }
    @font-face {
        font-family: "Computer Modern";
        src: url('../fonts-ttf/cmunbx.ttf');
        font-weight: bold;
    }
    @font-face {
        font-family: "Computer Modern";
        src: url('../fonts-ttf/cmunti.ttf');
        font-style: italic, oblique;
    }
    @font-face {
        font-family: "Computer Modern";
        src: url('../fonts-ttf/cmunbi.ttf');
        font-weight: bold;
        font-style: italic, oblique;
    }
*/