$theme: #00d1b2;
$grey: #b5b5b5;

@import "~bulma/bulma";

// latin
@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Raleway', sans-serif;
}

.line {
  height: 10px;
}

.hr{
  border-bottom: 10px solid $theme;
  margin: 0 1.5rem;
}

.section{
  padding: 3rem 1.5rem 1rem;
}

.summary, .experience, .education, .projects, .skills, .awards, .languages{
  margin-bottom: 1.5rem;

  .title{
    padding: .5em 0;
    border-bottom: 1px solid $theme;
  }
}

.experience, .education, .projects, .skills, .awards{
  .item{
    padding: .5em 0;
  }
}

.profile {
  .image{
    margin: 0 auto;
  }
  svg{
    fill: $grey;
  }
}

.social-icon{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a{
    display: flex;
    align-items: center;
  }
  svg{
    height: 2rem;
    width: 2rem;
  }
}

.footer{
  padding: 3rem 1.5rem 1rem;
}

/* Query for mobile only*/
@media screen and (max-width: 768px){
  .profile {
    text-align: center;
  }
  .social-icon{
    justify-content: center;
  }
}

/* Query for desktop only*/
@media screen and (min-width: 1023px){
  .has-text-right-in-desktop {
    text-align: right;
  }
}
